<div class="center hero-unit">
    <h1>Wilkommen nach MiArmario</h1>
    <h2>This is the home of (your) MiArmario</h2>
    <%= link_to "Jetzt registrieren!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<center>
<%= link_to image_tag("miarmario-logo.png", alt: "MiArmario", align: "center"), 'http://mi-armario.herokuapp.com/' %>
</center>
