<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    var map;
    var points = ['[-2.077, 42.42]', '[-2.066, 42.420266]', '[-2.069566, 42.4174]'];
    function initialize() {
		// Create a simple map.
        map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: 15,
                center: {lat: 42.42, lng: -2.077}
        });

        // Load a GeoJSON from the same server as our demo.
        //map.data.loadGeoJson('http://192.168.0.184/public/sites/points.json');
        map.data.addGeoJson(pointsToJason(points));
		printPoints();
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    var pointsToJason = function(points) {
        var start = points[0]
        var raw = '{ ' +
            ' "type" :"FeatureCollection", ' +
            ' "features" : [ ' +
            '    {' +
            '        "type": "Feature",' +
            '        "geometry": {' +
            '            "type": "Point",' +
            '            "coordinates": '+ start  +
            '        },' +
            '        "properties": {' +
            '            "name": "Start"' +
            '        }' +
            '    },' +
            '    {' +
            '        "type": "Feature",' +
            '        "geometry": {' +
            '            "type": "LineString",' +
            '            "coordinates": [' + points.toString() + ']' +
            '        },' +
            '        "properties": {' +
            '            "name": "1"' +
            '        }' +
            '    }' +
            ' ]' +
            '}';
        return JSON.parse(raw);
	}
	var printPoints = function() {
		document.getElementById("points").innerHTML = points
	}
	var addPoint = function() {
		var pointInput = document.getElementById("point");
		var point = '[' + pointInput.value + ']';
		points.push(point);
		pointInput.value = "";
		initialize();
	}

</script>

<% provide(:title, 'Where is the toro?') %>
<h1>Ande esta el Toro?</h1>

<div id="map-canvas" style="height:800px; width:800px; margin:0px; padding:0px;center"></div>

<button onclick=printPoints()>Ver puntos</button>
<p id="points"></p>
<button onclick=addPoint()>Añadir punto</button>
<input type="text"  id="point"> Ejemplo: -2.077892, 42.418809, 
